.card {
	background-color: var(--clr-white);
	border-radius: 0.5714em;
	padding: 1.7142em;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

.card-heading {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.7142em;
	padding-bottom: 1.7142em;
}

.card-icon {
	display: flex;
	align-items: center;
	width: 24px;
	height: 24px;
}

.card-title {
	font-size: 3.2rem;
	font-weight: 700;
	color: var(--clr-dark-purple);
	text-transform: uppercase;
}

.card-title > span {
	text-transform: none;
}

@media (min-width: 31.25em) {
	.card {
		padding: 2.8571em;
	}

	.card-icon {
		width: 40px;
		height: 40px;
	}

	.card-title {
		font-size: 5.6rem;
	}

	.card-heading {
		padding-bottom: 2.2857em;
	}
}
