.bg-pattern {
	background-image: url(../../public/images/background-pattern-mobile.svg);
	background-size: cover;
	background-repeat: no-repeat;

	height: 232px;
	width: 100%;

	position: absolute;
	z-index: -1;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 1.7142em;
}

@media (min-width: 31.25em) {
	.bg-pattern {
		background-image: url(../../public/images/background-pattern-desktop.svg);
	}
}
