.question:not(:last-child) {
	border-bottom: 1px solid var(--clr-pink);
	padding: 1.4em 0;
}
.question:last-child {
	padding: 0.7em 0;
}

.question:focus-visible {
	outline: #ad28eb solid 1px;
	border-radius: 4px;
	padding: 6px;
}

.question-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.9375em;
}

.question-title {
	color: var(--clr-dark-purple);
	font-size: 1.6rem;
	font-weight: 600;
	transition: all 0.2s;
}

.question-title:hover {
	color: #ad28eb;
	cursor: pointer;
}

.btn {
	border: none;
	background-color: transparent;
	height: 3rem;
	width: 3rem;
	outline: none;
	cursor: pointer;
}

.answer {
	line-height: 1.5;
}

@media (min-width: 31.25em) {
	.question-title {
		font-size: 1.8rem;
		line-height: 1.1727;
	}

	.answer {
		font-size: 1.6rem;
	}
}
