:root {
	/* COLORS */
	--clr-white: hsl(0, 0%, 100%);
	--clr-pink: hsl(275, 100%, 97%);
	--clr-purple: hsl(292, 16%, 49%);
	--clr-dark-purple: hsl(292, 42%, 14%);
}

@font-face {
	font-family: 'WorkSans';
	src: url(../public/fonts/WorkSans-VariableFont_wght.ttf);
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'WorkSans', sans-serif;
	font-size: 1.4rem;
	color: var(--clr-pink);
}
